/* .singleFlashcard {
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(23, 23, 23);
} */

.singleFlashcard div {
  border: white 1px solid;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.singleFlashcard input {
  width: 60%;
  align-self: center;
}

.singleFlashcard button {
  width: 30%;
  font-size: 0.7rem;
  padding: 0.1rem;
  align-self: center;
  margin: 0.5rem;
}
