.flashcard {
  min-width: 300px;
  max-width: 600px;
  background-color: rgba(81, 87, 112, 0.82);
}

.swapButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  border: none;
  background-color: var(--bs-success);
  color: #000;
  font-size: 25px;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid black;
  text-align: center;
}

.swapSvg {
  align-self: center;
  justify-self: center;
}

.indicator {
  position: fixed;
  top: 75%;
  left: 45%;
  transform: translate(-50%, -50%);
  font-size: 104px;
  font-weight: bold;
  opacity: 1; /* Set initial opacity to 1 (100%) */
  z-index: 1000;
  -webkit-text-fill-color: var(--bs-success);
  -webkit-text-stroke: 3px rgb(5, 4, 4);
  transition: all 0.5s ease-in-out; /* Adjust to animate all properties */
  animation: driftUpFadeOut 1s forwards; /* Define the animation */
}

@keyframes driftUpFadeOut {
  to {
    top: 50%; /* Adjust this value to control how much it moves up */
    opacity: 0;
  }
}

.indicatorWrong {
  position: fixed;
  top: 75%;
  left: 55%;
  transform: translate(-50%, -50%);
  font-size: 104px;
  font-weight: bold;
  opacity: 1; /* Set initial opacity to 1 (100%) */
  z-index: 1000;
  -webkit-text-fill-color: var(--bs-danger);
  -webkit-text-stroke: 3px rgb(5, 4, 4);
  transition: all 0.5s ease-in-out; /* Adjust to animate all properties */
  animation: driftUpFadeOut 1s forwards; /* Define the animation */
}

@keyframes driftUpFadeOut {
  to {
    top: 50%; /* Adjust this value to control how much it moves up */
    opacity: 0;
  }
}

.indicator.correct {
  color: green;
}

.indicator.incorrect {
  color: red;
}

@media (max-width: 768px) {
  .flashcard {
    font-size: 2.5rem;
  }
}
