.flashcard {
  min-width: 300px;
  max-width: 600px;
  background-color: rgba(81, 87, 112, 0.82);
}

.swapButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  border: none;
  background-color: var(--bs-success);
  color: #000;
  font-size: 25px;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid black;
  text-align: center;
}

.swapSvg {
  align-self: center;
  justify-self: center;
}

@media (max-width: 768px) {
  .flashcard {
    font-size: 2.5rem;
  }
}