.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pageCard {
  min-height: 50vh;
  min-width: 75vw;
  border: 2px black dashed;
  background-color: rgba(243, 203, 94, 0.8);
}
